<section class="cart-section">
    <div class="cart-p1">
        <div class="cart-resume" id="cart-details">
            {{#each cart.products }}
            <div class="card">
                <a href="/productdetail/{{this.product._id}}">
                    <img src="{{this.product.thumbnails.[0]}}" alt="Product Image">
                </a>
                <div>
                    <p class="card-title">{{this.product.title}}</p>
                    <p class="card-quantity">Quantity: {{this.quantity}}</p>
                    <p class="card-price">USD ${{this.product.price}}</p>
                    {{!-- <a href="/productdetail/{{this.product._id}}">Ver detalle</a> --}}
                </div>
                <button class="card-delete" onclick="eliminarProduct('{{this.product._id}}')">X</button>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="cart-p2">
        <div class="cart-payment">
            <h1 class="payment-title-1">CART DETAIL</h1>
            <h2 class="payment-title-2">Payment</h2>
            <div>
                <p class="payment-subtotal">Subtotal: {{ totalPrice }}</p>
                <p class="payment-total">Total: {{ totalPrice }}</p>
                <button id="terminar-compra" class="payment-button">Terminar compra</button>
            </div>
        </div>
    </div>
    <div id="success-message" class="purchase">
        <h2>Compra exitosa</h2>
        <p>¡Gracias por tu compra!</p>
        <a href="/products">Volver a productos</a>
    </div>
</section>

<script>
    function eliminarProduct(pid) {
        const cid = "{{cart._id}}"
        console.log(cid + "  -----  " + pid)
        fetch(`/api/carts/${cid}/product/${pid}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(data => {
            window.location.reload()            
        })
    }

    const button = document.querySelector('#terminar-compra')
    button.addEventListener('click', function() {
        generarTicket();
        document.querySelector('.cart-p1').classList.add('no-active');
        document.querySelector('.cart-p2').classList.add('no-active');
        document.querySelector('.cart-section').classList.add('center');
        document.querySelector('.purchase').classList.add('active');
    });

    function generarTicket() {
        const cid = "{{cart._id}}"
        fetch(`/api/orders/${cid}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(res => res.json())
        .then(data => {
            console.log(data)
        })
    }
</script>
