<style>
    .card {
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 15px;
            margin: 10px;
            width: 300px; /* Puedes ajustar el ancho según tus necesidades */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

    .card-title {
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    .card-text {
        color: #555;
    }

    a {
        text-decoration: none;
        color: #007bff;
        display: block;
        margin-top: 10px;
    }

    a:hover {
        text-decoration: underline;
    }
</style>
<div>
    <center>
        <h1>Cart Detail</h1>
        {{!-- {{#with cart}} --}}
            {{!-- <h5 class="card-title"><strong>Title: </strong>{{this.title}}</h5>
            <p class="card-text"><strong>Description: </strong>{{this.description}}</p>
            <p class="card-text"><strong>Code: </strong>{{this.code}}</p>
            <p class="card-text"><strong>Price: </strong>{{this.price}}</p>
            <p class="card-text"><strong>Stock: </strong>{{this.stock}}</p>
            <p class="card-text"><strong>Category: </strong>{{this.category}}</p>
            <p class="card-text"><strong>Status: </strong>{{this.status}}</p> --}}
            {{#each carrito}}
            <div class="card">
                <h5 class="card-title"><strong>Title: </strong>{{this.product.title}}</h5>
                {{!-- <p class="card-text"><strong>Description: </strong>{{this.description}}</p> --}}
                {{!-- <p class="card-text"><strong>Code: </strong>{{this.code}}</p> --}}
                <p class="card-text"><strong>Price: </strong>{{this.product.price}}</p>
                {{!-- <p class="card-text"><strong>Stock: </strong>{{this.stock}}</p> --}}
                {{!-- <p class="card-text"><strong>Category: </strong>{{this.category}}</p> --}}
                {{!-- <p class="card-text"><strong>Status: </strong>{{this.status}}</p> --}}
                {{!-- <a href="/productdetail/{{this._id}}">Ver detalle</a> --}}
            </div>
            {{/each}}
        {{!-- {{/with}} --}}
    </center>
</div>
{{!-- <script src="/socket.io/socket.io.js"></script> --}}
{{!-- <script src="/src/public/js/home.js"></script> --}}