<style>
/* Estilos para los elementos */
</style>
<div>
    <center>
        <h1>Product Details</h1>
        {{#with product}}
            <h5 class="card-title"><strong>Title: </strong>{{this.title}}</h5>
            <p class="card-text"><strong>Description: </strong>{{this.description}}</p>
            <p class="card-text"><strong>Code: </strong>{{this.code}}</p>
            <p class="card-text"><strong>Price: </strong>{{this.price}}</p>
            <p class="card-text"><strong>Stock: </strong>{{this.stock}}</p>
            <p class="card-text"><strong>Category: </strong>{{this.category}}</p>
            <p class="card-text"><strong>Status: </strong>{{this.status}}</p>
        {{/with}}
        <button>Agregar al carrito</button>
    </center>
</div>
{{!-- <script src="/socket.io/socket.io.js"></script> --}}
{{!-- <script src="/src/public/js/home.js"></script> --}}