<section class="product-section">
    <div class="product-s-container">
        <div class="filtro-product">
            <p>Filtrar por cartegoria</p>
            <ul>
                {{#each uniqueCategories}}
                    <li><a href="/products?category={{this}}">{{this}}</a></li>
                {{/each}}
            </ul>
        </div>
        <div class="page-container">
            <div class="card-container">
                {{#each product}}
                <a class="card-link" href="/productdetail/{{this._id}}">
                <div class="card">
                    <div class="card-p1">
                        {{#if this.thumbnails.length}}
                            <img src="{{this.thumbnails.[0]}}" alt="Product Image">
                        {{else}}
                            <img src="/image/products/no_image.png" class="no-image" alt="No Image Available">
                        {{/if}}
                    </div> 
                    <div class="card-p2">
                        <h5 class="card-title">{{this.title}}</h5>
                        <p class="card-description">{{this.description}}</p>
                        <p class="card-price">USD $ {{this.price}}</p>
                    </div>
                </div>
                </a>
                {{/each}}
            </div>
            <div class="page-product">
                {{#if hasPrevPage}}
                    <a class="prev-page" href="/products?pageQuery={{prevPage}}"><img src="/image/pages/flecha.png" alt=""> Anterior</a>
                {{/if}}
                <label>{{page}}</label>
                {{#if hasNextPage}}
                    <a class="next-page" href="/products?pageQuery={{nextPage}}">Siguiente <img src="/image/pages/flecha.png" alt=""></a>
                {{/if}}
            </div>
        </div>
    </div>
</section>