<section class="product-detail-section">
    {{#with product}}
        <div class="pd-1">
            <img src="{{this.thumbnails.[0]}}" alt="Product Image">
        </div>
        <div class="pd-2">
            <div class="product-desc">
                    <h1 class="desc-title">{{this.title}}</h1>
                    <p class="desc-r-code">Reference code: {{this.code}}</p>
                    <h2 class="desc-d-text">{{this.description}}</h2>
                    <p class="desc-category">Categoría: {{this.category}}</p>
                    <p class="desc-stock">Unidades disponibles: {{this.stock}}</p>
                    <p class="desc-price">USD $ {{this.price}}</p>
    {{/with}}
                    {{#if product.stock}}
                        <a href="http://localhost:8080/api/carts/{{user.cartId._id}}/product/{{product._id}}" class="add-product">AGREGAR AL CARRITO</a>
                    {{else}}
                        <p class="no-stock">No hay stock</p>
                    {{/if}}

            </div>
        </div>
</section>