<section class="product-section">
    <div class="title-product">
        <h1>Products</h1>
        {{#with user}}
            <p>Bienvenido</p>
            <p>Usuario: {{this.first_name}}</p>
            <p>Email: {{this.email}}</p>
            <p>Role: {{this.role}}</p>
        {{/with}}
        
        <a href="/api/sessions/logout" class="button">Logout</a>
        <a href="http://localhost:8080/carts/{{user.cartId}}" class="button">Ver carrito</a>
    </div>
    <div class="filtro-product">
            <p>Filtrar por cartegoria</p>
        <ul>
            {{#each uniqueCategories}}
                <li><a href="/products?category={{this}}">{{this}}</a></li>
            {{/each}}
        </ul>
    </div>
    <div class="card-container">
        {{#each product}}
        <div class="card">
            <h5 class="card-title"><strong>Title: </strong>{{this.title}}</h5>
            <p class="card-text"><strong>Price: </strong>{{this.price}}</p>
            <a href="/productdetail/{{this._id}}">Ver detalle</a>
        </div>
        {{/each}}
    </div>
    <div class="page-product">
        {{#if hasPrevPage}}
            <a href="/products?pageQuery={{prevPage}}">Anterior</a>
        {{/if}}
        <label>{{page}}</label>
        {{#if hasNextPage}}
            <a href="/products?pageQuery={{nextPage}}">Siguiente</a>
        {{/if}}
    </div>
</section>